<button class="btn btn-simple btn-primary" (click)="open(modal)">
  <fa-icon [icon]="['fas', 'info']"></fa-icon>
  Más info
</button>

<ng-template #modal let-modal>
  <div class="modal-header justify-content-center">
    <button class="close" (click)="modal.dismiss('Cross click')">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <h4 class="title title-up">{{ mision.name }}</h4>
  </div>
  <div class="modal-body">
    <span class="badge badge-primary">{{ mision.type }}</span>
    <ng-container *ngIf="mision.subtype">
      <span class="badge badge-success">{{ mision.subtype }}</span>
    </ng-container>
    <br />
    <span class="h5">
      <b>Sector/País: </b>
      <span class="text-primary">{{ mision.sector }}</span>
    </span>
    <br />
    <ng-container *ngIf="mision.address">
      <span class="h5">
        <b>Dirección: </b>
        <span>{{ mision.address }}</span>
      </span>
      <br />
    </ng-container>
    <ng-container *ngIf="mision.schedules">
      <span class="h5">
        <b>Horarios: </b>
        <span>{{ mision.schedules }}</span>
      </span>
      <br />
    </ng-container>
    <div class="row">
      <ng-container *ngIf="mision.description">
        <div class="col-12 col-md h5">
          <b>Descripción</b>
          <p>{{ mision.description }}</p>
          <ng-container *ngIf="mision.image">
            <div class="d-flex justify-content-center">
              <img class="w-75 h-75 m-auto" [src]="mision.image.mission" [alt]="mision.sector" />
            </div>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="mision.message">
        <div class="col-12 col-md h5">
          <b>Mensaje</b>
          <p>{{ mision.message }}</p>
          <ng-container *ngIf="mision.image">
            <div class="d-flex justify-content-center">
              <img class="w-75 h-75 m-auto" [src]="mision.image.servant" [alt]="mision.name" />
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
