<ng-container *ngIf="filtered">
  <div class="btn-group-vertical w-100" role="group">
    <ng-container *ngFor="let hdb of hdbs | mapFilter:filtered:filterBy | slice:startPagination():endPagination()">
      <button (click)="open(hdb)" class="btn m-0" [ngStyle]="{'background-color': hdb.color}">
        <b>{{ hdb.typeHDB | titlecase }}</b>
        <ng-container *ngIf="hdb.place">
          <p class="text-capitalize m-0">{{ hdb.place | place }}</p>
        </ng-container>
      </button>
    </ng-container>
    <div class="pt-3 w-100 d-flex flex-column align-items-center">
      <span>{{ (hdbs | mapFilter:filtered:filterBy)?.length }} resultados</span>
      <ngb-pagination  class="pagination-primary" [(page)]="page" [pageSize]="itemsPerPage"
        [collectionSize]="(hdbs | mapFilter:filtered:filterBy)?.length">
      </ngb-pagination>
    </div>
  </div>
</ng-container>

<app-card-v2></app-card-v2>
