<article>
  <div class="page-header page-header-small">
    <div class="rellax page-header-image" data-rellax-speed="-8"
      style="background-image:url('assets/img/quienes-somos/header.jpg')">
    </div>
    <div class="container">
      <div class="content-center">
        <!-- <h1 class="title">Cuerpo Pastoral</h1> -->
        <div class="text-center">
          <img src="assets/img/logo_cropped.png" alt="" class="img-fluid img-header">
        </div>
      </div>
    </div>
  </div>
  <section id="cuerpo-pastoral" class="section section-md-post">
    <div class="container container-md-post">
      <ng-container *ngIf="status">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <h2 class="title text-center">Cuerpo Pastoral</h2>
            <div class="row">
              <ng-container *ngFor="let pastor of pastores;">
                <div class="col-12 col-md-6">
                  <div class="d-flex justify-content-center">
                    <img [src]="pastor.image" [alt]="pastor.title" class="img-raised rounded-circle">
                  </div>
                  <h4>{{ pastor.title }}</h4>
                  <h6 class="text-primary">{{ pastor.position }}</h6>
                  <p>{{pastor.description}}</p>
                  <hr>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="separator separator-primary"></div>
      </ng-container>
    </div>
  </section>
</article>