<article>
  <header class="page-header page-header-small">
    <div parallax speedImg="0.1" speedContainer="0.5" class="parallax-image page-header-image"
      [ngStyle]="{'background-image': 'url(' + settings.bg_image + ')'}">
    </div>
    <div class="container">
      <div class="content-center">
        <!-- <h1 class="title">{{ settings.title }}</h1> -->
        <div class="text-center">
          <img src="{{ settings.logo_title }}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </header>

  <section id="cuerpo-pastoral" class="parallax-container section section-md-post">
    <div class="container container-md-post">
      <ng-container *ngIf="status">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <h2 class="title text-center">Cuerpo Pastoral</h2>
            <div class="row">
              <ng-container *ngFor="let pastor of pastores;">
                <div class="col-12 col-md-6">
                  <div class="d-flex justify-content-center">
                    <img [src]="pastor.image" [alt]="pastor.title" class="img-raised rounded-circle">
                  </div>
                  <h4>{{ pastor.title }}</h4>
                  <h6 class="text-primary">{{ pastor.position }}</h6>
                  <p class="text-left">{{pastor.description}}</p>
                  <hr>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="separator separator-primary"></div>
    </div>
  </section>
</article>
<app-footer></app-footer>