<button class="btn btn-lg btn-primary btn-round nav-pulse" (click)="open(mapModal)">
    <fa-icon [icon]="['fas', 'map-marked-alt']"></fa-icon>
    Mapa
</button>

<ng-template id="mapModal" #mapModal let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Ubícanos</h4>
    </div>
    <div class="modal-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1990.0976704510101!2d-79.20399099749804!3d-3.980184249297406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb480bac800c89%3A0xd221adfc667daa08!2sCentro%20Cristiano%20de%20Loja!5e0!3m2!1ses-419!2sec!4v1570162735649!5m2!1ses-419!2sec" height="400" frameborder="0" style="width:100%;border:0;" allowfullscreen=""></iframe>
    </div>
</ng-template>