<section id="pastores">
  <div class="page-header page-header-small bg-top" [defaultImage]="settings.bg.default" [lazyLoad]="settings.bg.final">
    <div class="container d-flex align-items-end flex-column-reverse">
      <a class="btn btn-simple btn-round text-light" [routerLink]="'/cuerpo-pastoral'">Conozca a nuestros pastores</a>
      <p [ngClass]="{ h4: !isMobile, h6: isMobile }" class="my-0">
        Le damos la bienvenida a nuestro sitio web (espacio virtual), en donde podrá obtener recursos para el
        crecimiento en su vida espiritual, fortalecer su mente, su corazón y de esa manera ser agente de cambio en
        nuestra sociedad.
      </p>
    </div>
  </div>
</section>
