<section id="pastores">
  <div class="bg-dark text-light bg-cover"
    [ngStyle]="{'background-image': 'url(' + settings.bgPastoresText + ')'}">
    <div class="container py-5">
      <blockquote class="h4 m-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quas maxime ex rem nemo hic asperiores, minima esse in officiis quisquam natus! Voluptates quasi quas veritatis omnis. Sed, fugit sapiente.
        <br>
        <small class="float-right">- Ps. Pablo y Patricia Celi</small>
      </blockquote>
    </div>
  </div>

  <div class="page-header page-header-small parallax"
    [ngStyle]="{'background-image': 'url(' + settings.bgPastores + ')'}">
    <div class="container d-flex align-items-center justify-content-end">
      <div ngbTooltip="Conoce más sobre nuestros pastores..." class="animated infinite pulse">
        <a class="text-light" [routerLink]="'/cuerpo-pastoral'">
          <fa-icon [icon]="['fas', 'arrow-right']" size="7x"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>