.container-full {
  height: 100vh;
}

.card-text {
  line-height: 1.61em;
  font-weight: 300;
  font-size: 1.2em;
}

.card-background {
  background-position: center top;
  background-size: cover;
  text-align: center;
  height: 100vh;

  &:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.63);
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
  }
}
