<router-outlet></router-outlet>
<section class="container-fluid">
  <div class="row container-full">
    <ng-container *ngFor="let card of cards">
      <div class="col-md-6 px-0 d-flex">
        <div class="card-background d-flex" [defaultImage]="card.default" [lazyLoad]="card.bg">
          <div class="container card-content p-4 text-light">
            <h6>{{ card.tag }}</h6>
            <h3 class="m-0">{{ card.title }}</h3>
            <p class="card-text">{{ card.text }}</p>
            <ng-container *ngIf="card.btnText">
              <a [ngClass]="card.btnColor" class="btn btn-round" [routerLink]="[card.link]">{{ card.btnText }}</a>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
