<router-outlet></router-outlet>
<section class="container-fluid">
  <div class="row container-full">
    <div class="col px-0">
      <div class="card-background d-flex" [defaultImage]="card.default" [lazyLoad]="card.bg">
        <div class="container card-content p-4 text-light">
          <h1 class="m-0" [ngClass]="{ h2: isMobile }">{{ card.title }}</h1>
          <p class="h3" [ngClass]="{ h5: isMobile }">{{ card.text }}</p>
          <div class="d-flex flex-column flex-sm-row">
            <ng-container *ngFor="let btn of card.buttons">
              <a class="btn btn-round mx-2" [ngClass]="btn.color" [routerLink]="[btn.link]">{{ btn.text }}</a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
