<div class="wrapper">
  <header class="page-header page-header-small">
    <div parallax speedImg="0.1" speedContainer="0.5" class="parallax-image page-header-image"
      [ngStyle]="{'background-image': 'url(' + settings.bg_image + ')'}">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">{{ settings.title }}</h1>
        <div class="text-center">
          <img src="{{ settings.logo_title }}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </header>

  <section id="conectate" class="parallax-container section section-md-post pb-0">
    <div class="container container-md-post">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <h2 class="title text-center">Hogares de Bendición</h2>
          <div class="row">
            <div class="col-12 col-md-6">
              <h3 class="title text-center">Qué son?</h3>
              <p class="h5">According to the National Oceanic and Atmospheric Administration,
                Ted, Scambos, NSIDClead scentist, puts the potentially record low
                maximum sea ice extent tihs year down to low ice extent in the Pacific
                and a late drop in ice extent in the Barents Sea.</p>
            </div>
            <div class="col-12 col-md-6">
              <h3 class="title text-center">Cómo puedo ser parte de uno?
              </h3>
              <p class="h5">According to the National Oceanic and Atmospheric Administration,
                Ted, Scambos, NSIDClead scentist, puts the potentially record low
                maximum sea ice extent tihs year down to low ice extent in the Pacific
                and a late drop in ice extent in the Barents Sea.</p>
            </div>
          </div>
        </div>
      </div>

      <app-hogares-bendicion></app-hogares-bendicion>
    </div>
  </section>
</div>
<app-footer></app-footer>
