<div class="wrapper">
  <header class="page-header page-header-small">
    <div
      parallax
      speedImg="0.1"
      speedContainer="0.5"
      class="parallax-image page-header-image"
      [ngStyle]="{ 'background-image': 'url(' + settings.bg_image + ')' }"
    ></div>
    <div class="container">
      <div class="content-center">
        <div class="text-center">
          <img src="{{ settings.logo_title }}" alt="" class="img-fluid" />
        </div>
        <h1 class="title">{{ settings.title }}</h1>
      </div>
    </div>
  </header>

  <section id="conectate" class="parallax-container section section-md-post pb-0">
    <div class="container container-md-post">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <h2 class="title text-center">Hogares de Bendición</h2>
          <div class="row">
            <div class="col-12 col-md-6">
              <h3 class="title text-center">Qué son?</h3>
              <p class="h5">
                Los (HDB) son grupos pequeños que se reúnen semanalmente para compartir la Palabra de Dios y adorarle a
                Él, mientras cada persona es pastoreada de manera directa y sus necesidades son suplidas. En el Centro
                Cristiano de Loja contamos con HDB homogéneos, es decir entre iguales tales como: Caballeros, Damas,
                Jóvenes y Matrimonios.
              </p>
            </div>
            <div class="col-12 col-md-6">
              <h3 class="title text-center">Cómo puedo ser parte de uno?</h3>
              <p class="h5">
                Si deseas ser parte de un hogar de bendición, puedes comunicarte con nosotros al
                <a href="tel:+593985249927">+593 98 524 9927</a> o puedes escribirnos a nuestro correo electrónico
                <a href="mailto:centrocristianodeloja@gmail.com">centrocristianodeloja@gmail.com</a>
                <br /><br />
                Para nosotros será de gran alegría el poder tenerte en un HDB.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO: Terminar el backend -->
      <!-- <app-hogares-bendicion></app-hogares-bendicion> -->
    </div>
  </section>
</div>
<app-footer></app-footer>
