<article>
    <div class="page-header page-header-medium">
        <div class="rellax page-header-image" data-rellax-speed="-8"
            style="background-image:url('assets/img/quienes-somos/header.jpg')">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" *ngIf="page">{{ page.title }}</h1>
                <div class="text-center">
                    <img src="assets/img/logo_cropped.png" alt="" srcset="assets/img/logo_cropped.png"
                        class="img-fluid img-header">
                </div>
            </div>
        </div>
    </div>
    <section id="quienes-somos" class="section section-md-post" *ngIf="page">
        <div class="container container-md-post">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title text-center">{{ title }}</h2>
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset #tabQuienesSomos [justify]="'center'" (tabChange)="onTabChange($event)">
                                <ngb-tab *ngFor="let tab of page.tabs; let i = index;"
                                    id="{{ i }}" title="{{ tab.title }}">
                                    <ng-template ngbTabContent>
                                        <div *ngIf="tab.content">
                                            <p *ngIf="i == 0">{{ tab.content }}</p>
                                            <blockquote *ngIf="i != 0">
                                                <p class="blockquote blockquote-primary">
                                                    {{ tab.content }}
                                                </p>
                                            </blockquote>
                                        </div>
                                        <div *ngIf="!tab.content">
                                            <h3>{{ tab.subtitle_1 }}</h3>
                                            <ul *ngFor="let objetivo of tab.objetivos">
                                                <li>{{ objetivo }}</li>
                                            </ul>
                                            <h3>{{ tab.subtitle_2 }}</h3>
                                            <div *ngFor="let principio of tab.principios">
                                                <h6>{{ principio.title }}</h6>
                                                <p>{{ principio.content }}
                                                    <cite>{{ principio.verse }}</cite>
                                                </p>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </section>
</article>