<article>
  <header class="page-header page-header-small">
    <div parallax speedImg="0.1" speedContainer="0.5" class="parallax-image page-header-image"
      [ngStyle]="{'background-image': 'url(' + settings.bg_image + ')'}">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">{{ settings.title }}</h1>
        <div class="text-center">
          <img src="{{ settings.logo_title }}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </header>

  <section id="quienes-somos" class="parallax-container section section-md-post pb-0">
    <div class="container container-md-post">
      <ng-container *ngIf="status">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <h2 class="title text-center">{{ titleTab }}</h2>
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ngb-tabset #tabQuienesSomos [justify]="'center'" (tabChange)="onTabChange($event)">
                  <ngb-tab *ngFor="let tab of tabs" id="{{ tab.id }}" title="{{ tab.title }}">
                    <ng-template ngbTabContent>
                      <div [@fadeIn]="true" [innerHtml]="tab.paragraph | sanitizeHtml">
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="separator separator-primary"></div>
    </div>
  </section>
</article>
<app-footer></app-footer>