.img-header {
    max-width: 50%;
}
.section-md-post {
    padding-top: 0;
}
.container-md-post {
    position: relative;
    top: -65px;
    background-color: white;
    padding-top: 65px;
    border-radius: 20px;
}