<section id="tow-dah" class="page-header">
    <div class="page-header-image rellax" data-rellax-speed="0" 
    style="background-image:url('assets/img/home/bg-tow-dah.jpg')">
    </div>
    <div class="container">
        <div class="content-center">
            <h1 class="title">Tow Dah</h1>
            <h2 class="title">Música que agrada a Dios!</h2>
        </div>
        <nav class="left-bottom">
            <a ngbTooltip="Siguenos en YouTube" class="btn btn-link"
                href="https://www.youtube.com/channel/UCjDgHbztvOQayUItvvhGUAg" target="_blank">
                <fa-icon [icon]="['fab', 'youtube']" size="3x"></fa-icon>
            </a>
            <a ngbTooltip="Siguenos en Instagram" class="btn btn-link" href="https://www.instagram.com/towdah.ccl"
                target="_blank">
                <fa-icon [icon]="['fab', 'instagram']" size="3x"></fa-icon>
            </a>
            <a ngbTooltip="Siguenos en Facebook" class="btn btn-link" href="https://www.facebook.com/Towdah.ccl"
                target="_blank">
                <fa-icon [icon]="['fab', 'facebook']" size="3x"></fa-icon>
            </a>
            <a ngbTooltip="Escúchanos en Deezer" class="btn btn-link" href="https://www.deezer.com/en/album/69125232">
                <fa-icon [icon]="['fas', 'align-left']" size="3x" rotate="270"></fa-icon>
            </a>
            <a ngbTooltip="Escúchanos en Apple Music" class="btn btn-link"
                href="https://music.apple.com/ec/album/manifestando-su-gloria/1417446915">
                <fa-icon [icon]="['fab', 'apple']" size="3x"></fa-icon>
            </a>
            <a ngbTooltip="Escúchanos en Spotify" class="btn btn-link"
                href="https://open.spotify.com/artist/4YTjf9SYX6HL0eOaWEoMng?si=BoQ-1RyGSLyuQCAoLUQ_Eg">
                <fa-icon [icon]="['fab', 'spotify']" size="3x"></fa-icon>
            </a>
        </nav>
    </div>
</section>