.left-bottom {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.btn-link {
    padding: 0.5rem 0.5rem;

    &:hover {
        color: white;
        transform: scale(1.3);
        transition: all 0.2s;
    }
}