/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

// general styles
.bg-cover {
  background-size: cover;
}

.parallax {
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.parallax-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  z-index: 1;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.section-md-post {
  padding-top: 0 !important;
}

.container-md-post {
  position: relative;
  top: -65px;
  background-color: white;
  padding-top: 65px;
  border-radius: 20px;
}

.bg-top {
  background-position: top !important;
}

.px-9 {
  padding-left: 9em;
  padding-right: 9em;
}

.iti {
  width: 100%;
}
