<div class="bg-color"></div>

<div class="bg-image d-flex align-items-center" [ngStyle]="setBackgroundImageUrl()">
  <div class="container">
    <div class="row text-white">
      <div class="col-12 col-lg-6">
        <div class="border p-4">
          <h1 class="font-weight-bold" [ngClass]="titleSize()">Transferencia Bancaria</h1>
          <div [ngClass]="textSize()">
            <ul class="list-unstyled">
              <li>Diezmos - Ofrendas</li>
              <li>Misiones - Promesas</li>
              <li>Banco de Loja</li>
              <li>Cuenta Corriente #2901099211</li>
              <li>a nombre de CENTRO CRISTIANO DE LOJA</li>
              <li>RUC: 1191702456001</li>
              <li>Enviar voucher a centrocristianodeloja@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="border p-4">
          <h1 class="font-weight-bold" [ngClass]="titleSize()">Transferencia Electrónica</h1>
          <div class="w-75 m-auto">
            <a href="https://www.paypal.com/paypalme/centrocristianoloja?locale.x=es_XC">
              <img [src]="settings.btn_paypal" alt="boton para donacion paypal">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
