<div class="bg-color"></div>

<div class="bg-image d-flex align-items-center" style="background-image: url('assets/img/donaciones/bg.jpg');">
  <div class="container">
    <div class="row text-white">
      <div class="col-12 col-lg-6">
        <div class="border p-4">
          <h1 class="font-weight-bold h2">Transferencia Bancaria</h1>
          <div [ngClass]="textSize()">
            <ul class="list-unstyled">
              <li>Diezmos - Ofrendas</li>
              <li>Misiones - Promesas</li>
              <li>Banco de Loja</li>
              <li>Cuenta Corriente #2901099211</li>
              <li>a nombre de CENTRO CRISTIANO DE LOJA</li>
              <li>RUC: 1191702456001</li>
              <li>E-mail: centrocristianodeloja@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="border p-4">
          <p class="h3">Pronto habilitaremos las donaciones a través de medio eléctrónicos</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
