<footer data-background-color="black">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();">
                        <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Home
                    </a></li>
                    <li><a href="javascript:void();">
                        <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> About
                    </a></li>
                    <li><a href="javascript:void();">
                        <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> FAQ
                    </a></li>
                    <li><a href="javascript:void();">
                        <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Started
                    </a></li>
                    <li><a href="javascript:void();">
                        <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Videos
                    </a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Home
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> About
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> FAQ
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Started
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Videos
                        </a></li>
                    </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Home
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> About
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> FAQ
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Started
                        </a></li>
                        <li><a href="javascript:void();">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Videos
                        </a></li>
                    </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/centrocristianoloja" target="_blank">
                        <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
                    </a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/cristianodeloja" target="_blank">
                        <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
                    </a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/centro_cristiano_de_loja" target="_blank">
                        <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
                    </a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCBYMaBHyTN-VljfX0wR8a1g" target="_blank">
                        <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>
                    </a></li>
                    <li class="list-inline-item"><a href="mailto:centrocristianodeloja@gmail.com" target="_blank">
                        <fa-icon [icon]="['fas', 'envelope']" size="2x"></fa-icon>
                    </a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                <p class="font-weight-bold">&copy; Centro Cristiano de Loja. 2019</p>
            </div>
            <hr>
        </div>	
    </div>
</footer>