<section id="buttons-bar">
  <div class="bg-blue bg-cover" [ngStyle]="{'background-image': 'url(' + settings.bg_image + ')'}">
    <div class="container py-5">
      <div class="row">
        <ng-container *ngFor="let button of settings.opts;">
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card bg-dark m-0">
              <a class="nav-card-link" [routerLink]="button.navLink">
                <img src="{{ button.navImage }}" alt="{{ button.navText }}">
                <div class="nav-card-img-overlay text-center">
                  <fa-icon [icon]="['fas', button.navIcon]" size="3x"></fa-icon>
                  <span class="h3 my-0">{{ button.navText }}</span>
                </div>
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
