<section id="hero-slider">
  <ng-container *ngIf="status">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let slide of slides">
        <picture>
          <source [attr.lazyLoad]="slide.image" media="(min-width: 992px)">
          <source [attr.lazyLoad]="slide.imageMedium" media="(min-width: 768px)">
          <source [attr.lazyLoad]="slide.imageSmall" media="(max-width: 576px)">
          <img [lazyLoad]="slide.image" offset="1000">
        </picture>
        <div class="carousel-caption d-none d-md-block">
          <a *ngIf="slide.link" class="h1 text-white" href="{{ slide.link }}" target="_blank">{{ slide.title }}</a>
          <a *ngIf="!slide.link" class="h1 text-white" routerLink="/home" fragment="tow-dah">{{ slide.title }}</a>
          <h3>{{ slide.subtitle }}</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </ng-container>
</section>